<div class="container-fluid">
  <div class="row">
    <!-- Navigation Sidebar (left side) -->
    <div class="col-md-3 col-lg-2 p-0">
      <div class="d-flex flex-column h-100 text-white bg-dark">
        <a
          href="/listings"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap" />
          </svg>
          <span class="fs-4">Real estate dashboard</span>
        </a>
        <hr />
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#home" />
              </svg>
              Home
            </a>
          </li>
          <li>
            <a href="/listings" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#speedometer2" />
              </svg>
              Listings
            </a>
          </li>
          <li>
            <a href="/edit" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#table" />
              </svg>
              Edit listings
            </a>
          </li>
        </ul>
        <hr />
        <div class="dropdown">
          <a
            href="#"
            class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <strong>mdo</strong>
            <a class="dropdown-item" href="#">Sign out</a>
          </a>
        </div>
      </div>
    </div>

    <main class="col-md-9 col-lg-10">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
