.layout {
  display: flex;
  padding: 20px;
}

@media (min-width: 768px) {
  .layout app-create-real-estate {
    width: 300px;
    flex: 1;
  }

  .layout app-real-estate-card {
    flex: 3;
  }
}

.container-fluid {
  background-color: #f4f4f7;
}
.bg-dark {
  background-color: #2a3042 !important;
}

.header-right {
  margin-left: auto;
}

.dropdown-menu {
  border-color: white;
  box-shadow: 0 1rem 3rem #0000002d;
}

header {
  box-shadow: 0 0.75rem 1.5rem #12263f11;
  height: 69px;
}

.dropdown-item {
  color: #f46a6a;
}

.dropdown-item:hover {
  padding-left: 19px;
  background-color: rgba(233, 238, 240, 0.317);
}

.active {
  background-color: #566ee6 !important;
}

.nav-link {
  padding-left: 3rem !important;
}

.fa-info-circle {
  color: #566ee6 !important;
}

.row > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
