.layout {
  display: flex;
  padding: 20px;
}

@media (min-width: 768px) {
  .layout app-create-real-estate {
    width: 300px;
    flex: 1;
  }

  .layout app-real-estate-card {
    flex: 3;
  }
}

.container-fluid {
  background-color: #f4f4f7;
}
.bg-dark {
  background-color: #2a3042 !important;
}

.header-right {
  margin-left: auto;
}

.dropdown-menu {
  border-color: white;
}

header {
  box-shadow: 0 0.75rem 1.5rem #12263f11;
}

.dropdown-item {
  color: #f46a6a;
}

.active {
  background-color: #566ee6 !important;
}

.nav-link {
  padding-left: 3rem !important;
}

.fa-info-circle {
  color: #566ee6 !important;
}
