.cbg {
  background-color: white;
  border-radius: 0.25rem;
  padding: 2rem 2.5rem 2.5rem 2.5rem;
  margin-top: 2rem;
  box-shadow: 0 0.75rem 1.5rem #12263f08;
  max-height: 80vh;
  overflow-y: auto;
  margin-top: 2.5vh !important;
}
